@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ustawienia
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="PersonalData" asp-action="PersonalData">Moje Dane osobowe</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Announcement" asp-action="Announcements">Moje ogłoszenia</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
            </li>
            <li class="dropdown-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("AllAnnouncements", "Announcement", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj się</button>
                </form>
            </li>
        </ul>
    </li>

}


