@{
    ViewData["Title"] = "Brak danych osobowych";
}

<h3 class="mt-5">
    Nie skonfigurowano na koncie użytkownika danych osobowych, które znajdą się w ogłoszeniu.<br />
    Proszę wprowadzić dane, aby móc dodawać ogłoszenia. <br /><br />
    W tym celu należy w prawym górnym rogu kliknąć <em>Ustawienia</em>, a następnie <em>Moje dane osobowe</em>.
</h3>