@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Weryfikacja dwuetapowa (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nie posiadasz kosów do odzyskiwania konta.</strong>
                    <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygeneruj nowy zestaw kodów odzyskiwania</a> zanim będziesz mógł zalogować się przy ich użyciu.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Został ci 1 kod do odzyskania konta</strong>
                    <p>Możesz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kodówm odzyskiwania</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Zostało ci @Model.RecoveryCodesLeft kodów.</strong>
                    <p>Powinnieneś <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kodów odzyskiwania</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Zapomnij tę przeglądarkę</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Dezaktywuj 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Zresetuj kody odzyskiwania</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj kod weryfikujący</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Ustaw aplikację uwierzytelniającą</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Zresetuj aplikację uwierzytelniającą</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Polityka prywatności i plików cookie nie została zaakceptowana.</strong>
            <p>Musisz zaakceptować politykę prywatności i plików cookie zanim aktywujesz weryfikację dwuetapową.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
