@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <h5 class="mt-5">Aby zobaczyć ogłoszenie, kliknij zakładkę <strong>ogłoszenia</strong> w lewym górnym rogu ekranu</h5>
</div>
